
body {
    background-color:darkgray;
    margin: 0 !important;
    padding: 0;
}

.Main-Text {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: xx-large;
}

.Container_1 {
    display: flex;
    gap: 20px;
    margin-bottom: 55px;
    justify-content: center;
}

.Text-1 {
    text-align: center;
}


.container_F {
    text-align: center;
    background-color: #333;
    color: white;
    height: 80px;
    margin-bottom: -290px;
    position: relative;
    bottom: -86px;
}

.MyName {
    color: #ff994b;
}

.Text-Footer {
    position: relative;
    top: 27px;
}


.btn {
    display: inline;
    font-weight: 400;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
    border-bottom: 3px solid #ff0000;
    border-radius: 0;
    font-weight: bold;
}

.card-text {
    color: #ff0000;
    font-weight: bold;
}
