@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <h1>Task 07</h1>
    <p>
        You have to create a system for an e-commerce website it will be side admin side and the user side
        user :<br />
        1- register : add new user<br />
        2- login : check if the usen in the DB<br />
        3- home page  : Display all products<br />
        4- profile : view user informations<br />
        5- edit profile : edit user information<br /><br />

        before login profile will not appear in the nav<br />
        Afer login "login and register " will replased with logout<br /><br />

        admin:<br />
        1- User CRUD<br />
        2- Product CRUD<br />
        3- Admin profile<br /><br />

        if the role of the user is admin he will be redirected from login to the Admin dashboard<br />
        if the admin click on logout he will be back to login
    </p>
</div>


