@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>DAY 06 <br /> DAILY TASK </p>
    <p> In Orange database create a new table called Department with five columns and Link them with the .net project 
        <br /> and create new controller and views to display all the record inside it and to create new record </p>
</div>

